<div class="absolute top-[120px] right-[16px] justify-end select-none">
	<img
		src="/assets/discord-active-developer.svg"
		alt="active-developer"
		width="22"
		height="22"
		class="inline-block"
		draggable="false"
	/>
	<img
		src="/assets/discord-nitro.svg"
		alt="discord-nitro"
		width="22"
		height="22"
		class="inline-block"
		draggable="false"
	/>
	<img
		src="/assets/discord-booster.svg"
		alt="discord-booster"
		width="22"
		height="22"
		class="inline-block"
		draggable="false"
	/>
</div>
