<div class="mb-3">
	<h2 class="font-bold text-xs text-zinc-700 dark:text-slate-300 leading-4 mb-2 uppercase select-none">About Me</h2>
	<div class="whitespace-pre-line">{" brazilian\nprogramming and technology enthusiast "}</div>
</div>
