---
import CardAvatar from "./Card-Avatar.astro";
import CardBadges from "./Card-Badges.astro";
import CardDates from "./Card-Dates.astro";
import CardInfo from "./Card-Info.astro";
---

<div class="w-[300px] dark:text-slate-200 drop-shadow-xl">
	<div class="rounded-2xl overflow-hidden bg-white dark:bg-zinc-900">
		<div class="relative">
			<picture>
				<source type="image/webp" srcset="/images/banner.webp" />
				<source type="image/gif" srcset="/images/banner.gif" />
				<img
					src="/images/banner.gif"
					alt="niskii-discord-banner"
					width="300"
					height="120"
					aria-hidden="true"
					draggable="false"
					class="block select-none"
				/>
			</picture>

			<div class="absolute top-[76px] left-[16px]">
				<div class="rounded-full select-none">
					<CardAvatar />
				</div>
			</div>

			<div class="pt-16 pb-3 px-4">
				<div class="text-xl font-semibold leading-6">
					<span class="text-zinc-900 dark:text-slate-50">Niskii</span>
					<span class="dark:text-slate-300">#0001</span>
				</div>

				<CardBadges />
			</div>

			<div class="px-4 pb-3.5 flex-initial text-sm">
				<div class="pb-2.5">
					<img
						src="https://cdn.discordapp.com/emojis/1037061490664022127.webp?size=44&quality=lossless"
						iara-label=":twice:"
						alt="twice"
						draggable="false"
						class="w-[48px] h-[48px] -my-px mr-1 select-none"
					/>
				</div>

				<div class="w-full h-[1px] bg-zinc-800 mb-3"></div>
				<CardInfo />
				<CardDates />
			</div>
		</div>
	</div>
</div>
