---
import "../styles/main.css";
import "../styles/whitney.css";
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta content="/images/avatar-512.png" property="og:image" />
		<link href="https://niskii.dev" rel="canonical" />
		<title>Nicolas Ribeiro</title>
		<meta content="minimum-scale=1, initial-scale=1, width=device-width" name="viewport" />
		<meta content="#181818" name="theme-color" />
		<link rel="shortcut icon" href="/favicon.svg" />
		<meta name="description" content="My personal website." />
	</head>
	<body class="flex h-screen bg-[#181818] font-['Whitney']">
		<slot />
	</body>
</html>
